:root {
    --content-bg-color: rgba(0,0,0,0.9);
    --footer-bg-color: rgba(0,0,0,1);

    /*Font Weights*/
    --header: 700;
    --normal: 400;
    --subheader: 600;
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    background: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    visibility: hidden;
    opacity: 1;
}

.video-1{
    position: absolute;
    top: 0;
    left: 0;
    /*height: 600px;*/
    /*width: 1400px;*/
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1.2s;
}

.active{
    opacity: 1;
    transition: opacity 1.2s;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12.5%;
    height: 45%;
}

.gcard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;

}

.headercardtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
}


.card .label{
    position: absolute;
    width: 120%;
    height: 60%;
    background-color: var(--content-bg-color);
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    line-height: 130%;
    font-weight: 100;
    font-size: 100%;
    /*opacity: 0;*/
    /*transition: opacity 0.3s;*/
    transform: scale(0,0);
    transition: transform .3s;
}


.gcard .label{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 450%;
    height: 70%;
    background-color: var(--content-bg-color);
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    line-height: 2rem;
    font-weight: 100;
    /*opacity: 0;*/
    /*transition: opacity 0.3s;*/
    transform: scale(0,0);
    transition: transform .3s;
}

.headercardtitle .label{
    position: absolute;
    width: 250%;
    height: 40%;
    background-color: var(--content-bg-color);
    color: #bfab60;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    line-height: 1.3em;
    font-weight: 100;
    /*opacity: 0;*/
    /*transition: opacity 0.3s;*/
    transform: scale(0,0);
    transition: transform .3s;
}

.headercard {
    font-size: 200%;
    line-height: 200%;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text {
    font-size: 300%;
    line-height: 300%;
    margin-top: 5%;
    font-weight: 500;
}

.card.visible .label{
    transform: scale(1,1);
    transition: transform .3s;
}

.gcard.visible .label{
    transform: scale(1,1);
    transition: transform .3s;
}

.headercardtitle.visible .label{
    transform: scale(1,1);
}

.hcimg, .coimg, .resimg, .Germanimg{
    width: 5%;
    height: 40%;
    color: white;
    text-align: center;
    line-height: 1.3em;
    font-weight: 100;
}

.desc, .REdesc, .COdesc, .hcdesc{
    margin-top: 25%;
    line-height: 100%;
    text-align: center;
}

/* Footer Bar */

.footer{
    position: absolute;
    display: flex;
    bottom: 0%;
    left: 0%;
    width: 100%;
    color: white;
    height: 7.5%;
    background-color: var(--footer-bg-color);
    border-top: 2px solid white;
    overflow: hidden;
}

.footer-content{
    display: flex;
    width:100%;
}

#list{
    display: flex;
    width: 100%;
}

.header{
    position: absolute;
    /*margin: .5% 0 .5% 0;*/
    margin-top: .3%;
    left: 0;
    width: 9%;
    height: 90%;
    border-radius: 0 20px 20px 0;
    padding-left: 1vw;
    background-color: #bfab60;
    z-index: 2;
}

.header > h3, .subheader > h3, .footer-item > h3{
    font-size: 1.25rem;
    font-weight: var(--normal);
}

.header > h1, .subheader > h1, .footer-item > h1{
    padding-top: .5vh;
    font-size: 1.5rem;
    font-weight: var(--header);
}

.subheader{
    position: absolute;
    margin-top: .3%;
    left: 8%;
    width: 9%;
    height: 85%;
    background-color: black;
    border-radius: 0 20px 20px 0;
    border:2px solid white;
    padding-left: 2.5vw;
    font-weight: var(--subheader);
    z-index: 1;
}

/*.footer-item{*/
/*    position: relative;*/
/*    margin-top: .3%;*/
/*    margin-left: 10%;*/
/*    min-width: 30%;*/
/*    width: 9%;*/
/*    left: 100vw;*/
/*    z-index: 0;*/
/*    overflow: hidden;*/
/*    -webkit-transform: translateX(100%);*/
/*    transform: translateX(100%);*/
/*}*/

.footer-item{
    position: absolute;
    margin-top: .3%;
    /*margin-left: 10%;*/
    min-width: 30%;
    width: 9%;
    left: 0;
    z-index: 0;
    overflow: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.auto {
    -webkit-animation: scroll 200s linear infinite;
    animation: scroll 200s linear infinite;
}

@-webkit-keyframes scroll {
    from { -webkit-transform: translateX(0%); }
    to { -webkit-transform: translateX(-600%); }
}

@keyframes scroll {
    from { transform: translateX(0%); }
    to { transform: translateX(-600%); }
}

.tableg{
    margin: 6% auto;
    font-size: 75%;
    line-height: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px 0;
}

.tb{
    margin: 2% auto;
    padding-top: 2%;
    color: #bfab60;
    font-weight: 700;
    font-size: 125%;
    line-height: 125%;
    border-collapse: separate;
    border-spacing: 20px 0;
}

.blheader{
    color: #bfab60;
    font-size: 125%;
    line-height: 125%;
}

.germandesc{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    width: 50%;
    color: #bfab60;
    font-weight: 700;
    font-size: 175%;
}

.card .hotdeal{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1,1);
    transition: transform .3s
}

.hotdealtext{
    font-weight: 400;
    font-size: 130%;
    line-height: 170%;
    color: white;
}

.COhotdealImg, .REhotdealImg, .hotdealImg{
    margin-top: 1%;
    max-width: 50%;
    max-height: 25%;
}

.tbheader{
    font-weight: 800;
    font-size: 125%;
    line-height: 125%;
}


.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    color: black;
}

.loadingbar{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 1s;
    will-change: transform;
}

.loadingbar.ended{
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}

.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
